<% include partials/header %>
<center>
<div >
            <div style=" margin-top:50px" >                                     
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title"><i class="fas fa-edit"></i> Edit(<%= data[0].s_id %>)</div>
                    </div> 
                    <div class="panel-body text-danger" >
                        <form class="form-horizontal" role="form" method="post" action="/ededu/<%= data[0].id %>" enctype="multipart/form-data">
                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>
                            
                            <div class="form-group">
                                <label for="deg" class="col-md-3 control-label">Degree</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="deg" value="<%= data[0].degree %>">
                                </div>
                            </div>
                              <div class="form-group">
                                <label for="spec" class="col-md-3 control-label">Specification</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="spec" value="<%= data[0].spec %>">
                                </div>
                            </div>
                             
                             <div class="form-group">
                                <label for="univ" class="col-md-3 control-label">University</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="univ" value="<%= data[0].univ %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="grad" class="col-md-3 control-label">Graduated_in</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="grad" value="<%= data[0].graduated_in %>">
                                </div>
                            </div>
                            
                             
                            <div class="form-group">
                                <!-- Button -->                                       
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Update</button>
                                </div>
                            </div>  
                        </form>
                     </div>
                </div>
            </div>
        </div>
 </center>
 
 <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<% include partials/footer %>