<% include partials/header %>
<style type=text/css>
.tab{
    width:75% !important;
}
.hod{
    
}
.tab td{
    font-size : 17px;
    font-family: 'Noto Serif', serif;
}
.tab th{
    text-align:center;
    font-size : 20px;
}
.image
{
    width: 100px;
    height: 120px;
}
</style>

  
  <section class="text-center">          
            <div>
             <h2>FACULTIES</h2>
            <h4>IST Department</h4>
           </div>
           <center>
             <hr id="line" width="25%", align="left"  style="padding-bottom: 2%">
           </center> 
           
</section>
  
  
  
  <table class="table hod table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">
         HEAD OF THE DEPARTMENT 
         </th>
      </tr>
      <center>
         <%var c=0; for(var i=0;i<data.length;i++){ %>
             <% if(data[i].designation == 'Head of the department'){c=1;%>
                  <!--<tr class="white"><td> <li><a href="/staffs_pro/<%= data[i].id%>"><%= data[i].name %></a></li></td></tr>-->
           <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
           </tr>
           
         <% } }%> 
      <% if(c==0){%>
           <tr class="white"><td> none</td></tr>
         <% } %>
  </table>
  </center>
  
  <table class="table  table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink"  colspan="4" >
         PROFESSORS 
         </th>
      </tr>
      
         <%c=0; for(var i=0;i<data.length;i++){ %>
             <% if(data[i].designation == 'Professor'){c++;%>
               <%if(c%2 !=0){ %>
                 <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
               <% }%>
               <%if(c%2 ==0){ %>
                <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
           </tr>
           <% }%>
         <% } }%> 
       <% if(c==0){%>
           <tr class="white"><td> none</td></tr>
         <% } %>
  </table>
   <table class="table  table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">ASSOCIATE PROFESSORS</th>
      </tr>
      
         <% c=0; for(var i=0;i<data.length;i++){ %>
             <% if(data[i].designation == 'Associate Professor'){c++;%>
                 <%if(c%2 !=0){ %>
                 <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
               <% }%>
               <%if(c%2 ==0){ %>
                <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
           </tr>
           <% }%>
           
         <% } }%> 
         <% if(c==0){%>
           <tr class="white"><td> none</td></tr>
         <% } %>
      
  </table>
  <table class="table  table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">
         ASSISTANT PROFESSORS (Senior Grade) 
         </th>
      </tr>
      
         <% c=0;for(var i=0;i<data.length;i++){ %>
             <% if(data[i].designation == 'Assistant Professor (Senior Grade)'){ c++;%>
                   <%if(c%2 !=0){ %>
                 <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
               <% }%>
               <%if(c%2 ==0){ %>
                <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
           </tr>
           <% }%>
           
         <% } }%> 
       <% if(c==0){%>
           <tr class="white"><td> none</td></tr>
         <% } %>
  </table>
<table class="table  table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">
         ASSISTANT PROFESSORS 
         </th>
      </tr>
      
         <% c=0;for(var i=0;i<data.length;i++){ %>
             <% if(data[i].designation == 'Assistant Professor'){c++;%>
                   <%if(c%2 !=0){ %>
                 <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
               <% }%>
               <%if(c%2 ==0){ %>
                <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
           </tr>
           <% }%>
           
         <% } }%> 
         <% if(c==0){%>
           <tr class="white"><td> none</td></tr>
         <% } %>
      
  </table>
<table class="table  table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">
         TEACHING FELLOWS
         </th>
      </tr>
      
         
         <% c=0;for(var i=0;i<data.length;i++){ %>
             <% if(data[i].designation == 'Teaching Fellow'){ c++; %>
                   <%if(c%2 !=0){ %>
                 <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
               <% }%>
               <%if(c%2 ==0){ %>
                <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/<%= data[i].image %>" class="img-thumbnail rounded image"></td>
               <td width="400" >
               <span style="color:black">Name :<%= data[i].name %><br>
                    Experience : <%= data[i].experience %> years <br>
                    Contact_No: <%= data[i].mobile_no %><br>
                    Email: <%= data[i].email %><br>
                </span>
               <a href="/staffs_pro/<%= data[i].id%>"><u><em style=" font-size : 16px;">View More </em></u></a>
               
               </td>
           </tr>
           <% }%>
           
         <% } %>
               
         <% } %>
         <% if(c==0){%>
           <tr class="white"><td> none</td></tr>
         <% } %>
      
  </table>



<% include partials/footer %>